<div class="input-group">
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <span class="input-group-btn">
        <button id="btn0" type="button" class="btn btn-primary">
             <!-- onclick="addRow(this)"> -->
            <span id="icon0" class="glyphicon glyphicon-plus"></span>
        </button>
    </span>
</div>
